@use 'helpers' as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  color: $dark-color;
  font-weight: 400;
}

p {
  color: rgba($dark-color, 0.9);
}

img {
  max-width: 100%;
  width: 100%;
}